#map {
    height: 500px;
    width: 100%;
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: red;
}

.search-container svg {
    margin-left: 94%;
    right: 15px;
    top: 50%;
    transform: translateY(-170%);
    width: 20px;
    height: 20px;
    fill: gray;
}

.hand-icon {
    cursor: pointer;
}

.info-box {
    background-color: #f8fbff;
    padding: 15px;
    border-radius: 10px;
    border: solid black 1px;
}