:root {
    --text-color: #190809;
    /* --background-color: #fcf5f5; */
    --background-color: #ece2c7;
    --primary-color: #603F26;
    --secondary-color: #FFDBB5;
    --accent-color: #ce9f66;
    --card-color: #FAF8F2;
}


#guidePage {
    /* background-color: ; */
    background-color: #ece2c7;
}


.title-page {
    color: #8B4513;
}

.card-header,
.card-body,
.guide-section,
.list-group-item{
    background-color: var(--card-color);
}
