/* :root {
  --text-color: #190809;
  --background-color: #fcf5f5;
  --primary-color: #c64e56;
  --secondary-color: #FFDBB5;
  --accent-color: #ce9f66;
} */


:root {
  --text-color: #190809;
  --primary-color: #8B4513;
  --secondary-color: #A0522D;
  --accent-color: #D2B48C;
  --dark-brown: #5C4033;
}


body {
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #f5f5dc, #e6d5b8);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* 4. Make this element grow to fill all available space */
}

/* .hero {
      background: url('../icons/lands.webp') center/cover no-repeat;
      padding: 70px 0px;
      text-align: center;
      position: relative;
      color: var(--text-color);
      
    } */

/* .hero::after {
      content: "";
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
    }
    
    .hero-content {
      position: relative;
      z-index: 1;
    } */

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-color);
}

.hero p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.features {
  padding: 0px 20px 60px 20px;
  margin-top: auto;
}

.feature-card {
  /* background-color: var(--secondary-color); */
  /* Using secondary color */
  border: none;
  border-radius: 10px;
  padding: 30px 20px;
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0.9);
  /* box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1); */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.3);
  background-color: var(--accent-color);
  /* Using accent color for hover */
}

.feature-card h5 {
  margin-top: 15px;
  font-weight: bold;
}



a.card-link {
  text-decoration: none;
  color: inherit;
}

.feature-card img {
  transition: transform 0.3s ease;
}

.feature-card:hover img {
  transform: scale(1.1);
  /* Scale up the image slightly on hover */
}