:root {
  --text-color: #190809;
  --background-color: #fcf5f5;
  --primary-color: #c64e56;
  --secondary-color: #deb197;
  --accent-color: #ce9f66;
}



.sidebar p {
  font-family: 'Poppins', sans-serif;
}


body {
  background-color: var(--background-color);
}



.sidebar .menu-text p {
  color: var(--primary-color);
  font-size: 32px;
  font-weight: bold;
  /* display: flex !important;
  align-self: flex-end !important; */

}

.sidebar a {
  text-decoration: none;
  color: var(--text-color);
  padding: 23px 0;
  margin: 0px 18px;

}

.sidebar {
  background-color: #F0E5E5;
  width: inherit;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar p {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.sidebar .sidebar-highlight {

  background-color: var(--accent-color);
  border-radius: 5px;
  color: #fff;
  padding: 23px;
  margin: 0 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* border: 1px solid black; */
}

.sidebar .nav-link {
  text-decoration: none;
  color: var(--text-color);
  padding: 23px 18px;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar .nav-link:hover {
  background-color: var(--accent-color);
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.sidebar .sidebar-highlight,
.sidebar .sidebar-highlight * {
  color: #fff !important;
}
