  :root {
      --primary-brown: #8B4513;
      --secondary-brown: #A0522D;
      --light-brown: #D2B48C;
      --dark-brown: #5C4033;
  }

  html {
      height: 100%;
  }



  /* 1. Positioning and Animation */
  #mainNavbar {
      position: fixed;
      top: 0;
      width: 100%;
      transition: transform 0.3s ease-in-out;
      z-index: 1030;
  }

  #mainNavbar.navbar--hidden {
      transform: translateY(-100%);
  }

  /* So that the navbar won't overlap with the body (height of the navbar is 56px) */
  body {
      padding-top: 56px;
  }



  .navbar {
      background: linear-gradient(to right, var(--dark-brown), var(--primary-brown));
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .navbar-brand {
      font-weight: 700;
      color: #fff !important;
  }

  /* .card {
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border: none;
      background-color: rgba(255, 255, 255, 0.9);
  }

  .card-header {
      background: linear-gradient(to right, var(--primary-brown), var(--secondary-brown));
      color: white;
      border-radius: 10px 10px 0 0 !important;
  } */

  /* .btn-primary {
      background-color: var(--primary-brown);
      border-color: var(--primary-brown);
  }

  .btn-primary:hover {
      background-color: var(--secondary-brown);
      border-color: var(--secondary-brown);
  }

  #map {
      height: 500px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1;
  }

  .location-info {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  } */


  /* 
  .parameter-item {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #eee;
  }

  .parameter-item:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
  } */

  .loading-spinner {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
  }