:root {
    --text-color: #190809;
    /* --background-color: #fcf5f5; */
    --background-color: #ece2c7;
    --primary-color: #603F26;
    --secondary-color: #FFDBB5;
    --accent-color: #ce9f66;
    --card-color: #FAF8F2;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}



.placeholder-img img {
    width: 300px;
}




.title-page {
    color: #8B4513;
}

.card-header,
.card-body {
    background-color: var(--card-color);
}

.chart-container {
    /* width: 80%;
    max-width: 800px; */
    height: 600px;
    /* Give the container a defined height */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

