body {
  overflow-x: hidden;
}


.placeholder-img {
  border: 1px solid black;
  /* background-color: gray; */
  /* width: 100%; */
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.placeholder-img img {
  width: 200px;
  height: 200px;
}

/* .second-section-results {
  height: 100%  ;
}

.main-content-container {
  height: 100%;
} */

.second-section-results {
  height: 400px;
}

.second-section-results .placeholder-img img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  /* max-height: 150px !important; */

}

.second-section-results .placeholder-img h6 {
  /* text-align: start; */
  margin-right: auto;

}

.training-info-text h6 {

  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;


}


.discussion-btn,
.training-dropdown ul {
  border: 2px #AFB1B6 solid;
  /* border: none; */
  background-color: none;
  border-radius: 8px;
  color: #190809;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 100%;
}

.discussion-btn {
  height: 44px;
}

.training-dropdown li {
  padding: 10px 0;
}


.dropdown-toggle::after {
  display: none !important;
}